/* ----Header y nav---- */


/* -----hero section----- */
.hero{
    height: 99vh;
    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text{
    text-align: center;
    
    color: rgb(251, 243, 221);
}

/* --- Promo --- */

.promo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container__promo{
padding: 8px;
}

/* --- Categorias --- */

.categorias{
    text-align: center;
    background-image: url(../assets/tablas.jpg);
    padding: 30px;
    color:rgb(251, 243, 221);
    font-size: 3rem;
}

.etiqueta__categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
.etiqueta__categoria{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}}

/* @media (max-width:768px){
    .etiqueta__categoria{
        display: flex;
        flex-direction: column;
        align-content: space-around;
}}
     */

.tarjeta__categoria{
    width: 250px;
    /* background-color:rgb(251, 243, 221); */
    /* background-image: url(../assets/tablas.jpg); */
    
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    
}
.tarjeta__img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* ---footer--- */
.bg-setter{
    background-color:rgb(251, 243, 221) ;
}



/* imagen pag servicios */
.bg_tablas{
    background-image: url(../assets/tablas.jpg);
}

/* font contacto */
.colorfont_contacto{
    color: antiquewhite;
}