*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* ----Header y nav---- */


/* -----hero section----- */
.hero{
    height: 99vh;
    background-image: url(../assets/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text{
    text-align: center;
    font-size: 2rem;
    color: rgb(251, 243, 221);
}

/* --- Promo --- */

.promo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container__promo{
padding: 8px;
}

/* --- Categorias --- */

.categorias{
    text-align: center;
    background-image: url(../assets/tablas.jpg);
    padding: 30px;
    color:rgb(251, 243, 221);
    font-size: 3rem;
}

@media (min-width: 768px){
.etiqueta__categoria{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}}

/* @media (max-width:768px){
    .etiqueta__categoria{
        display: flex;
        flex-direction: column;
        align-content: space-around;
}}
     */

.tarjeta__categoria{
    width: 250px;
    background-color:rgb(251, 243, 221);
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 2px;
    text-align: center;
    
}
.tarjeta__img{
    width: 100%;
}
